$SUI_COLOR_GRAPESODA_1: #15003B;
$SUI_COLOR_GRAPESODA_2: #41305F;
$SUI_COLOR_GRAPESODA_3: #6D6083;
$SUI_COLOR_GRAPESODA_4: #9991A9;
$SUI_COLOR_GRAPESODA_5: #C5C1CD;
$SUI_COLOR_GRAPESODA_6: #DBD9DF;
$SUI_COLOR_GRAPESODA_7: #E6E5E8;

$SUI_COLOR_ELECTRICBOOGALOO_1: #303094;
$SUI_COLOR_ELECTRICBOOGALOO_2: #5656A6;
$SUI_COLOR_ELECTRICBOOGALOO_3: #7D7DB9;
$SUI_COLOR_ELECTRICBOOGALOO_4: #A4A4CC;
$SUI_COLOR_ELECTRICBOOGALOO_5: #C9C9D8;
$SUI_COLOR_ELECTRICBOOGALOO_6: #DEDEE8;
$SUI_COLOR_ELECTRICBOOGALOO_7: #E7E7EC;

$SUI_COLOR_PURPLERAVEN_1: #5252CA;
$SUI_COLOR_PURPLERAVEN_2: #7575D5;
$SUI_COLOR_PURPLERAVEN_3: #9797DF;
$SUI_COLOR_PURPLERAVEN_4: #BABAEA;
$SUI_COLOR_PURPLERAVEN_5: #DCDCF4;
$SUI_COLOR_PURPLERAVEN_6: #EDEDF9;
$SUI_COLOR_PURPLERAVEN_7: #F6F6FC;

$SUI_COLOR_SMOOTHFADE_1: #54D2E0;
$SUI_COLOR_SMOOTHFADE_2: #76DBE6;
$SUI_COLOR_SMOOTHFADE_3: #98E4EC;
$SUI_COLOR_SMOOTHFADE_4: #BBEDF3;
$SUI_COLOR_SMOOTHFADE_5: #DDF6F9;
$SUI_COLOR_SMOOTHFADE_6: #EDFAFB;
$SUI_COLOR_SMOOTHFADE_7: #F6FDFD;

$SUI_COLOR_CADILLAC_1: #B83585;
$SUI_COLOR_CADILLAC_2: #C65D9D;
$SUI_COLOR_CADILLAC_3: #D486B6;
$SUI_COLOR_CADILLAC_4: #E3AECE;
$SUI_COLOR_CADILLAC_5: #F1D7E7;
$SUI_COLOR_CADILLAC_6: #F7EAF2;
$SUI_COLOR_CADILLAC_7: #FBF5F9;

$SUI_COLOR_MRSROBINSON_1: #FA2C7E;
$SUI_COLOR_MRSROBINSON_2: #FB5698;
$SUI_COLOR_MRSROBINSON_3: #FC80B2;
$SUI_COLOR_MRSROBINSON_4: #FDABCB;
$SUI_COLOR_MRSROBINSON_5: #FED5E5;
$SUI_COLOR_MRSROBINSON_6: #FEE9F2;
$SUI_COLOR_MRSROBINSON_7: #FFF4F8;

$SUI_COLOR_SLIPNSLIDE_1: #FFC76F;
$SUI_COLOR_SLIPNSLIDE_2: #FFD28C;
$SUI_COLOR_SLIPNSLIDE_3: #FFDDA9;
$SUI_COLOR_SLIPNSLIDE_4: #FFE9C5;
$SUI_COLOR_SLIPNSLIDE_5: #FFF4E2;
$SUI_COLOR_SLIPNSLIDE_6: #FFF9F0;
$SUI_COLOR_SLIPNSLIDE_7: #FFFCF8;

$SUI_COLOR_BAJABLAST_1: #6DD8BB;
$SUI_COLOR_BAJABLAST_2: #8AE0C9;
$SUI_COLOR_BAJABLAST_3: #A7E8D6;
$SUI_COLOR_BAJABLAST_4: #C5EFE4;
$SUI_COLOR_BAJABLAST_5: #E2F7F1;
$SUI_COLOR_BAJABLAST_6: #F0FBF8;
$SUI_COLOR_BAJABLAST_7: #F7FDFB;

// $SUI_COLOR_MATERIALGREY_50: #FAFAFA;
$SUI_COLOR_MATERIALGREY_50: #FCFCFE;
$SUI_COLOR_MATERIALGREY_100: #F5F5F5;
$SUI_COLOR_MATERIALGREY_200: #EEEEEE;
$SUI_COLOR_MATERIALGREY_300: #E0E0E0;
$SUI_COLOR_MATERIALGREY_400: #BDBDBD;
$SUI_COLOR_MATERIALGREY_500: #9E9E9E;
$SUI_COLOR_MATERIALGREY_600: #757575;
$SUI_COLOR_MATERIALGREY_700: #616161;
$SUI_COLOR_MATERIALGREY_800: #424242;
$SUI_COLOR_MATERIALGREY_900: #212121;


$COLOR_HIGHLIGHT_LIGHT: $SUI_COLOR_SMOOTHFADE_1;
$COLOR_HIGHLIGHT_NORMAL: $SUI_COLOR_PURPLERAVEN_1;
$COLOR_HIGHLIGHT_DARK: $SUI_COLOR_GRAPESODA_1;
$SUI_SHADE_LIGHT: #E7E5EB;
$SUI_SHADE_NORMAL: #A199B1;
$SHADE_NORMAL: $SUI_COLOR_MATERIALGREY_500;
$SHADE_DARK: $SUI_COLOR_MATERIALGREY_700;;
$SHADE_LIGHT: $SUI_COLOR_MATERIALGREY_300;
$BACKGROUND_MASTER: #FFFFFF;
$BACKGROUND_PRIMARY: $SHADE_LIGHT;
$BACKGROUND_SECONDARY: $SUI_COLOR_MATERIALGREY_200;
$TEXT_TITLE_COLOR: $SUI_COLOR_GRAPESODA_1;
//$TEXT_NORMAL_COLOR: $SUI_COLOR_PURPLERAVEN_1;
$TEXT_NORMAL_COLOR: $SUI_COLOR_GRAPESODA_1;
$TEXT_DARK_COLOR: $SUI_COLOR_GRAPESODA_1;
$TEXT_PASSIVE_COLOR: $SHADE_NORMAL;
$FORM_FOCUS_BORDER_COLOR: $SUI_COLOR_SMOOTHFADE_1;
$FORM_INVALID_BORDER_COLOR: #E80D65;
$SUI_BORDER_COLOR: #E7E5EB;
$SUI_BORDER:1px solid #E7E5EB;

$BUTTON_PRIMARY_TEXTCOLOR: #FFFFFF;
$BUTTON_PRIMARY_BACKGROUND: $SUI_COLOR_PURPLERAVEN_1;
$BUTTON_PRIMARY_BORDER: 0px solid #FFFFFF;
$BUTTON_PRIMARY_TEXTCOLOR_HOVER: #FFFFFF;
$BUTTON_PRIMARY_BACKGROUND_HOVER: $SUI_COLOR_ELECTRICBOOGALOO_1;
$BUTTON_PRIMARY_BORDER_HOVER: 0px solid #FFFFFF;

$BUTTON_SECONDARY_TEXTCOLOR: $SUI_COLOR_GRAPESODA_1;
$BUTTON_SECONDARY_BACKGROUND: #FFFFFF;
$BUTTON_SECONDARY_BORDER: 1px solid $SUI_COLOR_GRAPESODA_1;
$BUTTON_SECONDARY_TEXTCOLOR_HOVER: $SUI_COLOR_PURPLERAVEN_1;
$BUTTON_SECONDARY_BACKGROUND_HOVER: #FFFFFF;
$BUTTON_SECONDARY_BORDER_HOVER: 1px solid $SUI_COLOR_PURPLERAVEN_1;

$DROPDOWN_HOVER: #EDFAFB;
$OPTION_HOVER: $SUI_COLOR_GRAPESODA_6;

$COLOR_HELLYEAH: #28CA40;
$COLOR_WATCHOUT: #FFBD2E;
$COLOR_UHOH: #FA4137;

$COLOR_HELLYEAH: $SUI_COLOR_SMOOTHFADE_1;
$COLOR_UHOH: $SUI_COLOR_MRSROBINSON_1;